
<h5><%= list.escape('title') %></h5>
<ol class="taskbin-card-list" data-list_id="<%= list.id %>"
                            data-list_rank="<%= list.get('rank') %>">
  <% cards.forEach(function(card) { %>
    <li class="taskbin-card"
        data-id="<%= card.id %>" data-rank="<%= card.get('rank') %>">
      <button class="btn btn-taskbin-card card-show-modal"
              data-id="<%= card.id %>" data-toggle="modal"
              data-target="#cardModal">
        <%= card.escape('title') %>
        <span class="glyphicon glyphicon-trash pull-right delete-card"></span>
        <div class="card-progress">
          <span class="glyphicon glyphicon-th-list"></span> Progress
        </div>
      </button>
    </li>
  <% }); %>
</ol>

<div>
  <a href="#" class="add-card-toggle">Add a card...</a>
</div>

