<!DOCTYPE html>
<html>
<head>
  <title>TaskBin</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if logged_in? %>

    <%= render 'layouts/in_header' %>
  <% else %>
    <%= render 'layouts/out_header' %>
  <% end %>

  <div class="container-fluid">
    <%= render 'layouts/flash' %>
    <%= yield %>
  </div>

<div class="overlay hidden">
</div>

</body>
</html>
